@model RWA_MVC_project.Models.VideoTag

@{
    ViewData["Title"] = "Details";
    bool isAdmin = HttpContextAccessor.HttpContext.Request.Cookies["username"] == "admin";
}

<h1>Details</h1>

<div>
    <h4>VideoTag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Video.Name)
        </dd>
    </dl>
</div>
<div>
    @if(isAdmin){
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Edit</a>
    }
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>
